:root {
  --color-primary-100: #ffffff;
  --color-primary-110: #eeeeee;
  --color-primary-120: #f3f1ee;
  --color-primary-130: #d9d9d9;
  --color-primary-140: #9f9f9f;
  --color-primary-200: #000000;
  --color-primary-201: #000000cc;
  --color-primary-210: #595959;
  --color-primary-220: #262626;
  --color-primary-300: #b69454;
  --color-primary-400: #ff0000;
  --color-primary-500: #1c92f4;
  --color-toast-100: #5bc0de;
  --color-toast-200: #5cb85c;
  --color-toast-300: #f0ad4e;
  --color-toast-400: #d9534f;
}
