.footer {
  background-color: var(--color-primary-120);
  align-items: center;
  margin: 0;

  .content {
    justify-content: space-between;
    flex: 1;
    display: flex;
    max-width: 163.2rem;
    align-items: center;
    margin: auto;
    height: 7rem;
    padding: 0 1rem 0 1rem;

    .copyright {
      font-size: 1.4rem;
    }
    button {
      width: 3.2rem;
      height: 3.2rem;
      background-color: var(--color-primary-200);
      border-radius: 1rem;
      cursor: pointer;
    }
    .arrow {
      border: solid var(--color-primary-100);
      border-width: 0 0.3rem 0.3rem 0;
      display: inline-block;
      padding: 0.2rem;
      transform: rotate(-135deg);
    }
  }
}
